<div class = "navbar">
    <p routerLink = "">Ebay</p>
    <a routerLink = "cart"> {{'Ostukorv' | translate }} {{sumOfCart | itemPrice}} </a>
    <a *ngIf="isLoggedIn" routerLink = "admin">  {{'Mine admini lehele' | translate }}</a>
    <a *ngIf="!isLoggedIn" routerLink = "admin">  {{'Logi sisse' | translate }}</a>
    <a *ngIf="isLoggedIn" (click) = "onLogOut()">  {{'Logi Välja' | translate }}</a>
    
    
    <div>
        <a class="language-buttons" (click)="useLanguage('en')"><img src="assets/estonia.png" alt=""></a>
        <a class="language-buttons" (click)="useLanguage('ee')"><img src="assets/united-kingdom.png" alt=""></a>
    </div>

</div>
    