<app-btn-back [back]="'/admin'"></app-btn-back>

<form (ngSubmit) = "onSubmitConfig()" [formGroup]="carouselConfigForm">
    <label>Kiirus</label>
    <input type="number"  formControlName="interval">
    <br>
    <label>Käib ringi</label>
    <input type="checkbox"  formControlName="wrap">
    <br>
    <label>Klaviatuuriga liikumine</label>
    <input type="checkbox"  formControlName="keyboard">
    <br>
    <label>Paus hiirega peal hoidmine</label>
    <input type="checkbox"  formControlName="pauseOnHover">
    <br>
    <button type="submit">Sisesta</button>
</form>

<form (ngSubmit) = "onSubmit(addImageForm)" #addImageForm = "ngForm">
    <label>URL</label>
    <input type="text" ngModel name ="url" required> <br>
    <label>Pealkiri</label>
    <input type="text" ngModel name ="header"> <br>
    <label>Kirjeldus</label>
    <input type="text" ngModel name ="description"> <br>
    <label>Alt</label>
    <input type="text" ngModel name ="alt"> <br>
    <button type= "submit" [disabled] = "addImageForm.invalid">Sisesta</button>
</form>

<div *ngFor="let img of images">
    <img src="{{img.url}}" alt="images">
    <div>{{img.header}}</div>
    <div>{{img.description}}</div>
    <div>{{img.alt}}</div>

    <div *ngIf="img.isEditState">
        <form (ngSubmit)= "onEditImage()">
            <label>URL</label>
            <input type="text">
        </form>
    </div>
    <button (click) = "onDeleteImage(img)">X</button>
    <button (click) = "onChangeImageDetails(img)"> Muuda</button>
</div>