<app-btn-back [back] = "'/admin/item-view'" ></app-btn-back>

<form *ngIf="editItemForm" (ngSubmit)="onSubmit()" [formGroup]="editItemForm">
    <label>Pilt</label>
    <input formControlName="imgSrc" type="text" placeholder="Eseme pilt" required>
    <label>Nimetus</label>
    <input formControlName="title" type="text" placeholder="Eseme nimi" required>
    <label>Hind</label>
    <input formControlName="price" type="text" placeholder="Eseme Hind" required>
    <label>Kategooria</label>
    <select  name="category" formControlName="category">
        <option disabled selected value="">Vali Kategooria</option>
        <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
    </select> <br> <br>
    <label> Näita eset</label>
    <input formControlName="isActive" type="checkbox" class="checkbox">
    <br>
    <button [disabled] = "editItemForm.invalid"> Muuda eset </button>
</form>