.wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 2px;
    border-color: black;
   
}

.wrapper-data {
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 200px;
}
.quantity-minus {
    height: 20px;
    width: 20px;
}

.quantity-minus img {
    height: 20px;
    width: 20px;
    align-items: center;
}
.quantity-plus {
    height: 20px;
    width: 20px;
}

.quantity-plus img {
    height: 20px;
    width: 20px;
    align-items: center;
}

.remove img {
    height: 30px;
    width: 30px;
}

.finalPrice {
    text-align: center;
    margin: 40px;
}