<button *ngIf="itemsInCart.length > 0"  (click) = "onEmptyCart()">Tühejnda ostukorv</button> <br> <br>

<div *ngIf="itemCount >= 1" > Ostukorvis on{{itemCount}}</div>
<div *ngIf="itemCount == 0 ">Ostukorv on tühi</div>

<div *ngFor="let inCart of itemsInCart">
    <p class = "img"><img src="{{inCart.product.imgSrc}}" alt="">></p>
    <p class="name"> {{inCart.product.title}}</p>
    <p class = "price"> {{inCart.product.price | itemPrice}}</p>
    <p class="quantity"> {{inCart.quantity}}</p>
    <p class="total"> {{inCart.product.price * inCart.quantity | itemPrice}}</p>
    <p class = "category"> {{inCart.product.category}}</p>
    <button (click) = "onRemoveFromCart(inCart)">X</button>
</div>

<div *ngIf="itemsInCart.length > 0">KOKKU: {{sumOfCart | itemPrice}}</div>