

.wrapper{
    display: grid;
    flex-direction: row;
    border: 2px solid;
    margin: 10px;
    
}
.btn-addToCart {
    background-color: red;
    display: flex;
}

.img {
    text-align: center;
}

