 
     <div class="wrapper">
 
        <a type="button" class="btn btn-info" routerLink = "/admin/item-add" >Lisa</a>

        <a type="button" class="btn btn-info" routerLink = "/admin/item-view">Vaata/Muuda</a>

        <a type="button" class="btn btn-info" routerLink = "/admin/category" >Vaata/Eemalda kategooriaid</a>

        <a type="button" class="btn btn-info" routerLink = "/admin/carousel-settings"> Vaata/Muuda Karuselli</a>

        <a type="button" class="btn btn-info" routerLink = "registreeru"> Lisa uusi kasutajaid</a>
    </div>
