
<app-carousel></app-carousel>

<div>Sorteeri</div>
<button (click) = "onSortByNameAsc()">Tähestiku järgi kasvavalt</button>
<button (click) = "onSortByNameDesc()">Tähestiku järgi kahanevalt</button>
<button (click) = "onSortByPriceAsc()">Hinna järgi kasvavalt</button>
<button (click) = "onSortByPriceDesc()">Hinna järgi kahanevalt</button>

<div
    [ngClass] = "{'active': item.isActive, 'inactive': !item.isActive}"
    *ngFor="let item of products">
    
    <app-item-card class="item" *ngIf="item.isActive" [product]="item">
        
    </app-item-card>
</div> 
